<div *ngIf="filiere" class="row">
    <div class="col s12 m8 offset-m2">
        <h2 class="header center">{{ filiere.name }}</h2>
        <div class="card horizontal hoverable">
            <div class="card-stacked">
                <div class="card-content">
                    <table class="bordered striped">
                        <tbody>
                            <tr>
                                <td>Nom</td>
                                <td><strong>{{ filiere.name }}</strong></td>
                            </tr>
                            <!-- <tr>
                                <td>Modules</td>
                                <td>
                                    <span *ngFor="let module of filiere.modules" class="{{ module.name | filiereTypeColor }}">{{
                                        module.name }}</span>
                                </td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <a (click)="goToFiliereList()">Retour</a>
                    <a (click)="goToEditFiliere(filiere)">Editer</a>
                    <a (click)="deleteFiliere(filiere)">Supprimer</a>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 *ngIf='!filiere' class="center">Aucune Filière à afficher !</h4>